<h2> 還書清單 </h2>
<table class="table">
    <thead>
        <th>借閱者</th>
        <th>書名</th>
        <th>出借日</th>
        <th>到期日</th>
        <th>還書的時間</th>
    </thead>
    <tbody>
        <%= render @receipts %>
    </tbody>
</table>
