<h1> 作者介紹 </h1>
<% if can? :update, Author %>
    <%= button_to "修改作者資料", edit_author_url(@author), {method: :get , class:"btn btn-default"}%>
<% end %>
<h3>資料</h3>
<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>所屬組織</th>
        </tr>
    </thead>
    <tbody>
        <%= render @author %>
    </tbody>
</table>
<h3>擁有的書</h3>
<table class="table">
    <thead>
        <tr>
            <th>標題</th>
            <th>ISBN</th>
            <th>出版日期</th>
            <th>副本數</th>
            <th>分類</th>
        </tr>
    </thead>
    <tbody>
        <%= render @books %>
    </tbody>
</table>
