<h2> 預約清單 </h2>
<table class="table">
    <thead>
        <th>申請人</th>
        <th>書名</th>
        <th>申請的時間</th>
        <th>予許的時間</th>
        <th>到期的時間</th>
        <th>拿走的時間</th>
    </thead>
    <tbody>
        <%= render @bills %>
    </tbody>
</table>
